<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">TSAR</span>
      </div>
      <div class="desc">
        <!-- 
        Notice:
        This is a Census Bureau computer system. Census Bureau computer systems are provided for the processing of
        official U.S. Government information only. All data contained within Census Bureau computer systems is owned by
        the Census Bureau and may be monitored intercepted recorded read copied or captured in any manner and disclosed
        in any manner by authorized personnel.

        There is no right of privacy in this system. System personnel may disclose any potential evidence of crime found
        on Census Bureau computer systems to appropriate authorities.

        Use of this system by any user authorized or unauthorized constitutes consent to this monitoring interception
        recording reading copying capturing and disclosure of computer activity. Use of this computer without
        authorization or for unauthorized purposes is a violation of federal law and punishable by fines or imprisonment
        (Public Law 99-474).

        **************************************************************************************************** -->
        WARNING! BY ACCESSING AND USING THIS GOVERNMENT COMPUTER SYSTEM
        <!-- <span style="width: 360px">WARNING! BY ACCESSING AND USING THIS GOVERNMENT COMPUTER SYSTEM, YOU ARE CONSENTING
          TO
          SYSTEM MONITORING FOR LAW
          ENFORCEMENT AND OTHER PURPOSES. UNAUTHORIZED USE OF, OR ACCESS TO, THIS COMPUTER SYSTEM MAY SUBJECT YOU TO
          CRIMINAL PROSECUTION AND PENALTIES.</span> -->

        <!-- Problems:
        If you are having problems connecting, please contact the middleware team at X3-4944. -->
      </div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="//github.com/cipchk" target="_blank">Census</a> Product<br />
      <span style="width: 360px">
        Five(5) successive failures in a 15 minute period ( not necessarily from the same application ) will lock out
        your account.
        Enterprise SSO: JBID or/and Password not required.
      </span>
    </global-footer>
  </div>
</div>