<div class="alain-default__content-title">
  <h1>Time Series Analytic Repository
    <small>Project Description</small>
  </h1>
</div>

<nz-card>
  <div nz-row class="mb-md">
    <div nz-col nzSpan="12">
      <series-filters></series-filters>
    </div>
    <div nz-col nzSpan="12">
      <div class="text-right">
        <nz-radio-group [(ngModel)]="isExpanded" style="margin-right: 5px">
          <label nz-radio-button nzValue="C"><i nz-icon [nzType]="'menu'"></i> Collapsed
            View</label>
          <label nz-radio-button nzValue="E"><i nz-icon [nzType]="'appstore'"></i> Expanded
            View</label>
        </nz-radio-group>

        <button nz-button nz-dropdown [nzDropdownMenu]="exportMenu">
          <span>Export</span>
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #exportMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="download('csv')"><i nz-icon nzType="file-text" nzTheme="outline"></i>CSV</li>
            <!-- (click)="st.export(data, {filename: 'series.xlsx', sheetname: 'series'})" -->
            <li nz-menu-item><i nz-icon nzType="file-excel" nzTheme="outline"></i>Excel</li>
            <li nz-menu-item><i nz-icon nzType="file-pdf" nzTheme="outline"></i>PDF</li>
          </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'default'">Full</button>
      </div>
    </div>
  </div>
  <div nz-row>
    <h3 nz-title style="display: inline">{{count$ | async}} Results </h3>
    <span nz-text nzType="secondary" style="font-size: 22px;">Matching Criteria</span>
  </div>
  <nz-table #seriesTable [nzData]="seriesList$ | async" nzSize="small" id="seriesTable" style="margin-top: 5px">
    <thead>
      <tr>
        <th>Series <button nz-button nzSize="small" nzType="dashed" (click)="upsert()">Add A New Series</button></th>
        <th>2015</th>
        <th>2016</th>
        <th>2017</th>
        <th>2018</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-series [ngForOf]="seriesTable.data">
        <tr>
          <td>
            <nz-tag *ngIf="series.item_type.trim()=='CV'" [nzColor]="'geekblue'">
              {{series.item_type}}</nz-tag>
            <nz-tag *ngIf="series.item_type.trim()=='EST'" [nzColor]="'orange'">
              {{series.item_type}}</nz-tag>
            <nz-tag *ngIf="series.item_type.trim()=='IMP'" [nzColor]="'green'">
              {{series.item_type}}</nz-tag>
            <nz-tag *ngIf="series.item_type.trim()=='SE'" [nzColor]="'purple'">
              {{series.item_type}}</nz-tag>
            <nz-tag *ngIf="series.item_type.trim()=='YY'" [nzColor]="'cyan'">
              {{series.item_type}}</nz-tag>
            <span [innerHTML]="series.name | highlight:(localSearchTerm$ | async)"></span>
          </td>
          <td>{{series.val2015a1}}</td>
          <td>{{series.val2016a1}}</td>
          <td>{{series.val2017a1}}</td>
          <td>{{series.val2018a1}}</td>
          <td>
            <a (click)="upsert(series)">
              <i nz-icon nzType="edit"></i>
              <span class="pl-sm">Edit</span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="deleteSeries(series)" nzIcon="star"
              nzOkType="danger">
              <i nz-icon nzType="delete"></i>
              <span class="pl-sm">Delete</span>
            </a>
          </td>
        </tr>
        <tr [nzExpand]="isExpanded=='E'? true: false">
          <td colspan="6">
            <div nz-text><strong>Topic: </strong>{{series.topic}}</div>
            <div nz-text><strong>Flag: </strong>{{series.flag}}</div>
            <div nz-text><strong>Naics: </strong>{{series.naics}}</div>
            <div nz-text><strong>Item: </strong>{{series.item}}</div>
            <span nz-text><strong>Data Type: </strong>{{series.data_type}}</span>
            <span> | </span>
            <span nz-text><strong>Form: </strong>{{series.form}}</span>
            <span> | </span>
            <span nz-text><strong>Table: </strong>{{series.tbl}}</span>
            <span> | </span>
            <span nz-text><strong>View: </strong>{{series.view}}</span>
            <span> | </span>
            <span nz-text><strong>Last Updated: </strong>{{series.last_updated}}</span>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </nz-table>
</nz-card>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add/Edit Series" [nzFooter]="null" (nzOnCancel)="handleCancel()">
  <form nz-form [formGroup]=" seriesForm" (ngSubmit)="submitSeriesForm(seriesForm.value)">
    <div style="max-height: 500px; overflow: scroll">
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'Series Attributes'" [nzActive]="true">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series name field cannot be blank!">
              <input nz-input formControlName="name" id="name" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="flag">Flag</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series flag field cannot be blank!">
              <input nz-input formControlName="flag" id="flag" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="naics">NAICS</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series NAICS field cannot be blank!">
              <input nz-input formControlName="naics" id="naics" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="item">Item</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series item field cannot be blank!">
              <input nz-input formControlName="item" id="item" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="topic">Topic</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series topic field cannot be blank!">
              <input nz-input formControlName="topic" id="topic" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="subtopic">Subtopic</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="subtopic" id="subtopic" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="item_type">Item Type</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series item type field cannot be blank!">
              <input nz-input formControlName="item_type" id="item_type" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="data_type">Data Type</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series data type field cannot be blank!">
              <input nz-input formControlName="data_type" id="data_type" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="form">Form</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series form field cannot be blank!">
              <input nz-input formControlName="form" id="form" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tbl">Table</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series table field cannot be blank!">
              <input nz-input formControlName="tbl" id="tbl" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="view">View</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Series view viield cannot be blank!">
              <input nz-input formControlName="view" id="view" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">Last Updated</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              {{seriesForm.get('last_updated').value}}
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'Series Values'" [nzActive]="false">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="val2015a1">2015</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="2015 value field cannot be blank!">
              <input nz-input formControlName="val2015a1" id="val2015a1" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="val2016a1">2016</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="2016 value field cannot be blank!">
              <input nz-input formControlName="val2015a1" id="val2016a1" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="val2017a1">2017</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="2017 value field cannot be blank!">
              <input nz-input formControlName="val2017a1" id="val2017a1" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="val2018a1">2018</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="2018 value field cannot be blank!">
              <input nz-input formControlName="val2018a1" id="val2018a1" />
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <nz-divider></nz-divider>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [disabled]="!seriesForm.valid">Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>